/* =========FONTS========= */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* ==========DEFAULT FONT========== */
* {
    font-family: 'Roboto', sans-serif;
}

/* ==========COLORS========== */
:root{
    --color-black: rgb(24, 24, 24);
    --color-white: #fff;
    --color-purple: #A288A8;
    --color-purple-dark: #845c8d;
    --color-hero: rgba(0, 0, 0, 0.9);
    --color-titles: #AC5A5A;
    --color-grey: #6A6A6A;
}

/* ==========NAVBAR START========== */
.navbar {
    background-color: var(--color-black) !important;
    padding: 15px 0 !important;
}
.navbar .nav-item{
    margin: 0 !important;
    padding: 0 !important;
}
.navbar .nav-item .nav-link{
    font-size: 15px;
    font-weight: 400;
    color: var(--color-white);
    margin: 0 15px;
    padding: 0;
    transition: all .4s ease-in-out;
}

.navbar .nav-item .nav-link:hover{
    color: var(--color-purple);
}

.navbar .main-btn {
    background: var(--color-purple);
    text-decoration: none;
    color: var(--color-white);
    font-size: 14px;
    font-weight: 500;
    padding: 10px 10px;
    border-radius: 6px;
    display: inline-block;
    transition: all .4s ease-in-out;
    margin-left: 24px;
}
.navbar .main-btn:hover{
    background: var(--color-purple-dark);
}
.container img {
    width: 210px;
    height:100px;
    margin-left: 550px;
}

.container .btn-hero-form{
    text-transform: uppercase;
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 51px;
    position: absolute;
    width: 164px;
    height: 50px;
    background: #A288A8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.container .btn-hero-form:hover {
    background: var(--color-purple-dark);
}
/* ==========NAVBAR STOP========== */

/*========HEADER AREA START========*/
.hero{
    height: 120vh;
    background: var(--color-hero);
}

.title-header{
    position: static;
    width: 540px;
    height: 180px;
    left: 0px;
    top: 0px;
    font-size: 54px;
    color: var(--color-white);
    line-height: 111.8%;
    letter-spacing: 0.1rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 20px 0px;
}
.text-header{
    position: static;
    width: 540px;
    height: 104px;
    left: 0px;
    top: 200px;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-white);
}

.image-right {
    position: absolute;
    width: 326px;
    height: 713px;
    left: 1062px;
    top: -23px;
}

.hero .btn-form {
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 51px;
    position: absolute;
    width: 164px;
    height: 50px;
    background: #A288A8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
/*========HEADER AREA STOP========*/

/*========ABOUT AREA STOP========*/
.about h1 {
    font-weight: 800;
    color: var(--color-titles);
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.about .about-btn{
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 51px;
    position: absolute;
    width: 180px;
    height: 50px;
    background: #A288A8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.about .about-btn:hover{
    background: var(--color-purple-dark);
    color: var(--color-white);
}

/*========ABOUT AREA STOP========*/

/*========SERVICES AREA START========*/
.our-services{
    margin-top: 100px;
}

.title {
    margin-bottom: 100px;
}

.title .text-muted {
    position: absolute;
    width: 540px;
    height: 78px;
    left: 414px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--color-grey);
}

.title h2 {
    position: relative;
    font-size: 25px;
    line-height: 30px;
    font-weight: 900;
    color: var(--color-titles);
    text-transform: uppercase;
}

.services-wrapper {
    position: static;
    width: 330px;
    height: 350px;
    left: 380px;
    top: 0px;
    padding: 10px;
    margin: 25px;
    transition: .4s;
}

.services-wrapper:hover{
    -webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.56); 
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-20px);
}

.services-content h2{
    text-align: center;
    margin: 15px;
    font-weight: 800;
}
.services-content h5{
    text-align: center;
    margin: 15px;
    text-transform: uppercase;
}

.services-content .text-muted {
    text-align: center;
    margin: 15px;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-black);
}

.services-content a{
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: var(--color-purple);
}

.services-content a:hover{
    color: var(--color-purple-dark);
}

/*========SERVICES AREA STOP========*/

/*============IMAGES===========*/
.image {
    text-align: center;
}
.image img{
    width: 100%;
}
.image-two {
    text-align: end;
}
/*============IMAGES===========*/

/*======FOOTER AREA START=======*/
.list-inline .list-inline-item{
    font-size: 26px;
    
}
/*======FOOTER AREA STOP=======*/

/*Responsive borders - border-[breakpoint]*/
    
/* @media (min-width: 1080px) {
    .hero {
        width: 100%;
    }
}

   @media (mix-width: 1920px) {
    .hero {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .hero {
        width: 100%;
    }
}

   @media (mix-width: 1366px) {
    .hero {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .hero {
        width: 100%;
    }
}

   @media (mix-width: 1024px) {
    .hero {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .hero {
        width: 100%;
    }
}

@media (min-width: 414px) {
    .hero {
        width: 100%;
    }
    .container {
        width: 100%;
    }
}

   @media (mix-width: 816px) {
    .hero {
        width: 100%;
    }
    .container {
        width: 100%;
    }
} */

/*Modal*/
    /*add full-width input fields*/
    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 2px solid #ccc;
        box-sizing: border-box;
    }

    .about .btn-form{
        cursor: pointer;
        text-transform: uppercase;
        color: var(--color-white);
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 14px 51px;
        position: absolute;
        width: 180px;
        height: 50px;
        background: #A288A8;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }
    .about .btn-form:hover{
        background: var(--color-purple-dark);
        color: var(--color-white);
    }
    /*set styles for the cancel button*/
    .cancelbtn {
        padding: 14px 20px;
        background-color: var(--color-grey);
    }
    /*float cancel and signup buttons and add an equal width*/
    .cancelbtn,
    .signupbtn {
        cursor: pointer;
        text-transform: uppercase;
        color: var(--color-white);
        text-decoration: none;
        padding: 14px 51px;
        width: 180px;
        height: 50px;
        background: #A288A8;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }

    .cancelbtn,
    .signupbtn:hover{
        background: var(--color-purple-dark);
        color: var(--color-white);
    }
    /*add padding to container elements*/
    .container {
        padding: 16px;
    }
    /*define the modal’s background*/
     
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        padding-top: 60px;
    }
    /*define the modal-content background*/
     
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        border: 1px solid #888;
        width: 80%;
    }
    /*define the close button*/
     
    .close {
        position: absolute;
        right: 35px;
        top: 15px;
        color: #000;
        font-size: 40px;
        font-weight: bold;
    }
    /*define the close hover and focus effects*/
     
    .close:hover,
    .close:focus {
        color: var(--color-grey);
        cursor: pointer;
    }
     
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
     
    @media screen and (max-width: 300px) {
        .cancelbtn,
        .signupbtn {
            width: 100%;
        }
    }