/* =========FONTS========= */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* ==========DEFAULT FONT========== */
* {
    font-family: 'Roboto', sans-serif;
}

/* ==========COLORS========== */
:root{
    --color-black: rgb(24, 24, 24);
    --color-white: #fff;
    --color-purple: #A288A8;
    --color-purple-dark: #845c8d;
    --color-hero: rgba(0, 0, 0, 0.9);
    --color-titles: #AC5A5A;
    --color-grey: #6A6A6A;
}

/* ==========NAVBAR START========== */
.navbar {
    background-color: var(--color-black) !important;
    padding: 15px 0 !important;
}
.navbar .nav-item{
    margin: 0 !important;
    padding: 0 !important;
}
.navbar .nav-item .nav-link{
    font-size: 15px;
    font-weight: 400;
    color: var(--color-white);
    margin: 0 15px;
    padding: 0;
    transition: all .4s ease-in-out;
}

.navbar .nav-item .nav-link:hover{
    color: var(--color-purple);
}

.navbar .main-btn {
    cursor: pointer;
    background: var(--color-purple);
    text-decoration: none;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 500;
    padding: 15px 35px;
    border-radius: 6px;
    display: inline-block;
    transition: all .4s ease-in-out;
    margin-left: 24px;
}
.navbar .main-btn:hover{
    background: var(--color-purple-dark);
}
/* ==========NAVBAR STOP========== */

/*========HEADER AREA START========*/
/*========HEADER AREA========*/
.hero{
    height: 100vh;
    background: var(--color-hero);
}

.title-header{
    position: static;
    width: 540px;
    height: 180px;
    left: 0px;
    top: 0px;
    font-size: 54px;
    color: var(--color-white);
    line-height: 111.8%;
    letter-spacing: 0.1rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 20px 0px;
}
.text-header{
    position: static;
    width: 540px;
    height: 104px;
    left: 0px;
    top: 200px;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-white);
}

.image-right {
    position: absolute;
    width: 326px;
    height: 713px;
    left: 1062px;
    top: -23px;
}
/*========HEADER AREA START========*/

/*========SERVICES AREA START========*/
.our-services{
    margin-top: 100px;
}

.title {
    margin-bottom: 100px;
}

.title .text-muted {
    position: absolute;
    width: 540px;
    height: 78px;
    left: 414px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--color-grey);
}

.title h2 {
    position: relative;
    font-size: 25px;
    line-height: 30px;
    font-weight: 900;
    color: var(--color-titles);
    text-transform: uppercase;
}

.services-wrapper {
    position: static;
    width: 330px;
    height: 350px;
    left: 380px;
    top: 0px;
    padding: 10px;
    margin: 25px;
    transition: .4s;
}

.services-wrapper:hover{
    -webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.56); 
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-20px);
}

.services-content h2{
    text-align: center;
    margin: 15px;
    font-weight: 800;
}
.services-content h5{
    text-align: center;
    margin: 15px;
    text-transform: uppercase;
}

.services-content .text-muted {
    text-align: center;
    margin: 15px;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-black);
}

.services-content a{
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: var(--color-purple);
}

.services-content a:hover{
    color: var(--color-purple-dark);
}

/*========SERVICES AREA STOP========*/

/*======HEADER AREA START=======*/
.logo {
    width: 90px;
    height: 35px;
}
/*======HEADER AREA STOP=======*/